/*---------------------------------- Grid Float Test -------------------------------------*/

.grid{


max-width: 150rem;
margin: 0 auto;
text-align: center;




			&__1-of-3{

				font-size: 2rem;
				background-color: green;
				height: 12rem;
				float:left;
				padding-top: 5rem;
				
				
				
				
				&:not(:last-child){
					
					margin-right: 3rem;
				}
				
				width: calc((100% - 2 * 3rem) / 3);
			
			}

			@include clearfix;
}
