/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{


	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html{
	font-size: 62.5%;
}


body{

	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #777;
	padding: 3rem;

}

.header{

	height: 95vh;

	background-image: linear-gradient(
			to right bottom, 
			rgba(126, 213, 111, 0.801),
			rgba(40, 180, 133, 0.801)), 
			url(../img/hero.jpg);

	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
	position: relative;

}




.logo-box{

	position: absolute; 

	top: 4rem;     
	left: 4rem;	 	

}

.logo{

	height: 3.5rem;

}


.text-box{

	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);


}







/*-----------------------------------  Animations  --------------------------------------  */


.heading-primary{

	color: #fff;
	text-transform: uppercase;

	/*!  To stop the shaking after animation  */


	backface-visibility: hidden;

}



/*/ ----------------------------- Actual Animation ------------------------------------ */




/*/ Use @keyframes only with opacity and transform  */



/*/? give the keyframes a name  */

/*! To move in from the left  */


@keyframes moveInLeft{

	/*/ specify initial start position  */

			0%{

				/*!  make invisible at the start  */

					opacity: 0;

					/*! ADDING NEGATIVE VALUES MOVE THE ELEMENT LEFT OF STARTING POSITION  */

					transform: translateX(-10rem);

	}


 	/*/ specify anytime during  */


	 		80%{

				/*! PLUS VALUES MOVE ELEMENT RIGHT OF ITS STARTING POSITION  */

				transform: translateX(1rem);


	 }


	/*/ specify the end */


			100%{

				/*!  make completely visible again */

				opacity: 1;

				/*!  0 IS ITS STARTING POSITION  */

				transform: translate(0);

		}

}


/*/? give the keyframes a name  */

/*! To move in from the right */




@keyframes moveInRight{

	

			0%{			

					opacity: 0;
					transform: translateX(10rem);

	}


 	 		80%{			

				transform: translateX(-1rem);


	 }



			100%{			

				opacity: 1;		

				transform: translate(0);

		}

}







/*/  ------------------- Set Animation --------------- */


/*!  TO APPLY THE ANIMATION, ADD IT TO THE HEADING-PRIMARY-MAIN ELEMENT USING*/
/*!  animation-name and duration:  */



.heading-primary-main{

	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;


		/*/ TO SET THE ANIMATION ON AN ELEMENT  */
				
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;

			/*/ OTHER POSIIBLE ANIMATION COMMANDS WHICH WE WILL NOT USE ON THIS */

			animation-delay: 0s;  					/*/? time to wait before animation starts */ 
			animation-iteration-count: 1;  	/*/? amount of times to animate */ 

}


.heading-primary-sub{

	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.74rem;

	/*!  USE SHORTHAND FOR ANIMATION : NAME/DURATION/TIMING-FUNCTION */

	animation: moveInRight 1s ease-out;


}


/*/ ---------------- Apply animation when hovering -------------------  */


/* 
.logo:hover{

	backface-visibility: hidden;

	animation: moveInRight 1s ease-out;
} */
