
/*---------------------------------- Typography -------------------------------------*/

body{

	font-family: 'Roboto';
	background-color:#c8c8c8;
	font-weight: 400;
	line-height: 1;

}



// heading styles

.section-heading{


	font-size: 2.4rem;
	color: rgb(241, 241, 241);
	
}

.retro-games-heading{

	font-size: 3rem;
	color: rgb(241, 241, 241);



}





