

/*/  Alwways Use Global Reset  */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* line-height: 1; */

	/*/? Set background color for whole page */

	

}

/*

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

/*/?  MAIN COLOR : #087f5b  */
/*/? GREY COLOR :  #343a40  */




/* -------------------------- MAIN TAGS ---------------------------------- */


body{

	font-family: sans-serif;
	color: #343a40;
	font-size: 24px;
	font-weight: bold;

	height: 100vh;

	text-align: center;

	display: grid;
	grid-template-columns: 80px 400px 1fr 250px;
	grid-template-rows: 80px 1fr;

}


nav{

	background-color: #797878;
	color: #fff;


	grid-row: 1/-1;
}

menu{

	background-color: #7048e8;

	grid-column: 2/-1;

	display: flex;
	align-items: center;
	gap: 12px;

	padding: 0 40px;
}

main{

	color: rgb(0, 0, 0);

}



section{

	background-color: #e9ecef;
	padding: 40px;

	display: flex;
	flex-direction: column;
	gap: 24px;

/*/ Setting a container as ascrollable container */

overflow: scroll;

/*/ this will cause flex items to shrink to fit  */

/*!  set on each email to not shrink  */

}


.email{

	background-color: #adb5bd;
	height: 96px;

	/*/ use flex to align text inside a flexed element  */

	display: flex;
	align-items: center;
	justify-content: center;

	/*!  dont shrink to fit elements  */

	flex-shrink: 0;

	/*/?  This creates a scrollable container not a scrollable window  */

}



aside{

	background-color: #e9ecef;
}

nav,aside,main,section{

	padding-top:24px ;
}

button{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	background-color: #5f3dc4;
	border: none;
	cursor: pointer;
	color: white;
	padding: 8px 12px;

}

button:last-child{
	background-color: rgb(255, 82, 2);

/*/	Margin:auto gives the maximum possible width considering all container elements */
	
margin-left: auto;

/*! Pushes the button as far right as it can, considering all container elements  */

}

