
/*---------------------------------- Typography -------------------------------------*/

body{

	font-family: 'Roboto';
	background-color:#fff;
	font-weight: 400;
	line-height: 1;
	font-size: 1.6rem;

}
