
*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/*/? Set background color for whole page */

}


html{

	font-size: 62.5%;
}



body{

	/* font-family: ; */
	/* background-color:; */
	/* font-weight: ; */
	line-height: 1;

}



