/*----------------------------------------- Boxes ---------------------------------------*/




.grid__1-of-3--paragraph + span {

	width: 3rem;
	height: 3rem;
	background-color: $color-secondary-dark;
	padding: 2rem;
		
				
	

			
		}
		
		
		
	
	
	

